<table border="0" width="100%">
<tr>
<td>&nbsp;</td>
<td width="600">
<table border="0" width="100%">
    <tr>
    <td width="100%">
						<{$postuler.javascript}>
    <font size="4"><u><{$postuler.title}></u></font>
    <form name="<{$postuler.name}>" action="<{$postuler.action}>" method="<{$postuler.method}>"<{$postuler.extra}>>
        <table border="0" summary="">
							<{foreach item=element from=$postuler.elements}>
            <tr>
            <td><{$element.caption}></td>
            <td><{$element.body}></td>
            </tr>
<{/foreach}>
        </table>
        </form>
        </td>
        </tr>
    </table><br>
    </td>
    <td>&nbsp;</td>
    </tr>
</table>